
.page-header {
  color: #ffffff;
  background-image: url('../images/metro.jpg');
  background-size:contain;
  height: 15%;
  width: 100%;
  padding-bottom: 10%;
  margin: 0;
  font-family: 'Kumar One', Verdana;
  text-align: center;
}
