
.page-header {
  color: #f1efec;
  text-shadow:
   -2px -2px 0 #000,
   2px -2px 0 #000,
   -2px 2px 0 #000,
   2px 2px 0 #000;
  margin-top: 2%;
  font-size: 3.5em;
  font-family: $headerFonts;
  text-align: center;
}
