.commute-generator {
  text-align: center;
}

.commute-info {
  list-style: none;
  color: $bodyText;
  display: block;

}

.commute-border {
@include commute($commuteBox,$infoBorder,$commuteMargin);
}

.commute {
  margin-top: 1.5%;
}
