.commute-generator {
  text-align: center;
}

.commute-info {
  list-style: none;
  color: $bodyText;
  display: block;

}

.commute-border {
@include commute($commuteBox,$infoBorder,$commuteMargin);
}

.commute {
  margin-top: 1.5%;
}

.error-message {
  margin-top: 2%;
  margin-left: 30%;
  margin-right: 30%;
}

#destination {
  padding-left: 10%;
}
 #start {
   padding-left: 10%;
 }
