.commute-generator {
  text-align: center;
  margin-top: 3%;
}

.about {
  color: #ffffff;
  width: 30%;
  margin-left: 3%;
  float: left;
  padding: 1%;
  // margin-top: 3%;
  border: 2px  solid rgba(#e8e8e8, 0.77);
  background: rgba(#96948e, 0.67);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

.commute-info {
  list-style: none;
  color: $bodyText;
  display: block;

}

.commute-border {
@include commute($commuteBox,$infoBorder,$commuteMargin);
}

.commute {
  margin-top: 1.5%;
}

.error-message {
  margin-top: 2%;
  margin-left: 30%;
  margin-right: 30%;
}

#destination {
  padding-left: 10%;
}
 #start {
   padding-left: 10%;
 }
