#forms {

  text-align: center;

  .delay-styles {
    @include stylePadding(sidePadding)
  }

  .styles {
    @include style($infoBorder,$backgroundColor);
  }

  .alert {
    margin-left: 30%;
    margin-right: 30%;
  }

  .train {
    margin-left: 35%;
    margin-right: 35%;
  }


}
