#forms {

  text-align: center;

  .delay-styles {
    @include stylePadding;
  }

  .btn {
    margin-top: 1%;  
  }

  .styles {
    @include style($infoBorder,$backgroundColor);
  }

  .alert {
    margin-left: 30%;
    margin-right: 30%;
  }

  .train {
    margin-left: 35%;
    margin-right: 35%;
    list-style: none;
  }

}

.label-box {
  border: 2px solid black;
  font-size: 2em;
  background: rgba(#e8e8e8, 0.77);
  margin-left: 35%;
  margin-right: 35%;
  padding-top: 1%;
  padding-bottom: 1%;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
