@mixin style($infoBorder,$backgroundColor){
  padding-right: 25%;
  padding-left: 25%;
  margin-top: 1%;
  list-style: none;
  border: $infoBorder;
  background-color: $backgroundColor;
  color: #2f2530;
  font-weight: bold;
  padding: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

@mixin stylePadding {
  padding-right: 25%;
  padding-left: 25%;
}

@mixin commute($commuteBox,$infoBorder) {
  border: $infoBorder;
  background: $commuteBox;
  margin-top: 2%;
  margin-right: 20%;
  margin-left: 53%;;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
