
#navbar {
  background-color: $commuteBox;
  margin: 0;
  width: 100%;
  text-align: center;


  .nav-tab {
    text-align: center;;
  }

  a{
  color: $bodyText;
  text-align: center;
  }

  li {
    display: inline;
    list-style: none;
    text-align: center;
  }
}


  ul {
    text-align: center;
    margin: auto 0;
  }

.nav-tabs{
  border: none;
}
