
#navbar {
  background-color: #756d6d;
  margin: 0;
  width: 100%;
  text-align: center;

  ul {
    margin-top: 0;
    padding: 1%;

  }

  a{
  color: #fff;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
  }

  li {
    display: inline;
    list-style: none;
    text-align: center;
  }
}

.nav-tabs{
  border: none;
}
