#navbar {
  background-color: #8d8f7f;

  ul {
    margin-top: 0;
    padding: 1%;
    text-align: center;
  }

  li {
    display: inline;
    list-style: none;
    margin: 5%;
  }
}

nav.container {
  margin: 0 auto;
  text-align: center;

  li {
    text-decoration: none;
    font-family: 'Coda', cursive;
    position: relative;
    z-index: 0;
    cursor: pointer;
  }
}
