$bodyText: #ffffff;
$headerFonts: 'Kumar One', Verdana;
$commuteBox: rgba(113, 102, 102, 0.8);
$backgroundColor: #d1cbcb;
$infoBorder: 2px solid black;
$sidePadding: 25%;
$commuteMargin: 2% 40% 1% 40%;
