<main id='home-page'>
  <h1> Welcome to Metro Pass </h1>
  <p class='about'>An easy to use D.C Metro app to make your commute that much easier! Insert your start and stop stations below to get all the info you need for your commute!</p>
</main>
<section class='commute-generator'>
  <h1>Get Your Commute!</h1>
  <form class='form-inline'>
    <div class='form-group form-group has-success'>
      <label for='start'>Start:</label>
      <input type='text' id='start' ng-model='railView.stationNames.start' class='form-control' required></br>
    </div></br>
    <div class='form-group form-group has-success destination'>
      <label for='destination'>Destination:</label>
      <input type='text' id='destination' class='form-control' ng-model='railView.stationNames.end' required>
    </div>
  </form>
  <p ng-show='railView.stationToStationError' class='alert alert-danger error-message'>{{railView.stationToStationError}}</p>
  <div ng-show='railView.toggleCommuteInfo' class='commute-border'>
    <h3 class='commute-info' ng-show='railView.toggleCommuteInfo'>Miles: {{railView.stationToStationInfo.CompositeMiles}}</h3>
    <h3 class='commute-info' ng-show='railView.toggleCommuteInfo'>Travel time(min): {{railView.stationToStationInfo.RailTime}}</h3>
    <h4 class='commute-info' ng-show='railView.toggleCommuteInfo'>Price</h4>
    <h5 class='commute-info' ng-show='railView.toggleCommuteInfo'>Off Peak: ${{railView.stationToStationInfo.RailFare.OffPeakTime}}</h5>
    <h5 class='commute-info' ng-show='railView.toggleCommuteInfo'>On Peak: ${{railView.stationToStationInfo.RailFare.PeakTime}}</h5>
    <h5 class='commute-info' ng-show='railView.toggleCommuteInfo'>Senior/Disabled: ${{railView.stationToStationInfo.RailFare.SeniorDisabled}}</h5>
  </div>
  <button class='btn btn-primary btn-sm active commute' ng-click='railView.getStationToStation()'>Get Commute</button>
</section>
