<main id='home-page'>
<h1> Welcome to Metro Pass </h1>
<p>An easy to use D.C Metro app to make your commute that much easier!</p>
</main>
<section>
  <h1>Station Distances</h1>
  <form>
    <label for='start'>Start Station:</label>
    <input type='text' id='start' ng-model='railView.stationNames.start' required></br>
    <label for='destination'>Destination:</label>
    <input type='text' id='destination' ng-model='railView.stationNames.end' required>
  </form>
  <h2>Miles: {{railView.stationToStationInfo.CompositeMiles}}</h2>
  <h2>Travel time(min): {{railView.stationToStationInfo.RailTime}}</h2>
    <h3>Peak Price: ${{railView.stationToStationInfo.RailFare.PeakTime}}</h3>
    <h3>Senior Price: ${{railView.stationToStationInfo.RailFare.SeniorDisabled}}</h3>

  <button ng-click='railView.getStationToStation()'>Get Distance</button>
</section>
