<main id='forms'>
  <section class='metro-delays'>
    <h1>Metro Delays</h1>
    <ul class='delay-styles' >
      <li ng-repeat='delay in railView.railIncident' class='styles'>
        <p class='glyphicon glyphicon-alert'>    {{delay.Description}}</p>
      </li>
    </ul>
    <p ng-show='railView.delayFailureMessage' class='alert alert-danger'>{{railView.delayFailureMessage}}</p>
    <button class='btn btn-default' ng-click='railView.railInfo()'>Get Info</button>

  </section>

  <section class='station-incidents'>
    <h1>Station Incidents</h1>
    <ul class='delay-styles' ng-hide='railView.toggleClose'>
      <li ng-repeat='incident in railView.incidents | limitTo: 5' class='styles'>
        <h4>Station: {{incident.StationName}}</h4>
        <p>Description: {{incident.LocationDescription}}</p>
        <p>Cause: {{incident.SymptomDescription}}</p>
      </li>
    </ul>
    <p ng-show='railView.stationIncidentErrorMessage' class='alert alert-danger'>{{railView.stationIncidentErrorMessage}}</p>
    <button ng-show='railView.toggleClose' class='btn btn-default' ng-click='railView.getIncidents()'>Get Info</button>
    <button ng-hide='railView.toggleClose' class='btn btn-default' ng-click='railView.toggleMetroInfo()'>Close</button>
  </section>

  <section>
    <h1>Train Positions</h1>
    <form ng-submit='railView.getTrainPositions(railView.liveTrainLocation.code)'>
      <ul class='delay-styles'>
        <li class='form-group form-group has-success train'>
          <label for='train'>Station:</label>
          <input type='text' id='train' class='form-control' ng-model='railView.liveTrainLocation.code' required>
        </li>
        <li ng-repeat='position in railView.trainPosition' class='styles'>
          <h4>Destination: {{position.DestinationName}}</h4>
          <h4>{{position.Car}} Car Train</h4>
          <h5>Time(min): {{position.Min}}</h5>
        </li>
      </ul>
      <p ng-show='railView.trainPositionError' class='alert alert-danger'>{{railView.trainPositionError}}</p>
      <input type='submit' class='btn btn-default' value='Train Position'>
    </form>
  </section>

  <!-- <section> -->
  <!-- <h1>Station Parking Info</h1>
  <ul class='delay-styles'>
  <li ng-repeat='parking in railView.railParking | limitTo: 4' class='styles'>
  <h3>Station Code: {{parking.Code}}</h3>
  <p>Short Term {{parking.ShortTermParking.Notes}}</p>
  <p>{{parking.Notes}}</p>
</li>
</ul>
<p ng-show='railView.parkingErrorMessage' class='alert alert-danger'>{{railView.parkingErrorMessage}}</p>
<button class='btn btn-default' ng-click='railView.railPark()'>Get Info</button>
</section> -->
<!-- <section mapbox class='main-map'></section>
<section id='map'></section> -->


</main>
