<main id='forms'>
  <section class='metro-delays'>
    <h1>Metro Delays</h1>
    <p>All Rail Delays will be listed below</p>
    <ul>
      <li ng-repeat='delay in railView.railIncident'>
        {{delay.data.Incidents.Description}}
      </li>
    </ul>
    <button ng-click='railView.railInfo()'>Update</button>
  </section>
  <section class='station-incidents'>
    <h1>Station Incidents</h1>
    <p>All Station Incidents including Elevator/Escalator incidents will be listed below.</p>
    <ul>
      <li ng-repeat='incident in railView.incidents'>
        {{incident.data.ElevatorIncidents[0].LocationDescription}}
      </li>
    </ul>
  </section>
    <button ng-click='railView.getIncidents()'>Update</button>
  </section>
  <section mapbox class='main-map'></section>
</main>
