<main id='forms'>
  <section class='metro-delays'>
    <h1>Metro Delays</h1>
    <ul class='delay-styles'>
      <li ng-repeat='delay in railView.railIncident' class='styles'>
        <p>{{delay.Description}}</p>
      </li>
    </ul>
    <button ng-click='railView.railInfo()'>Get Info</button>
  </section>

  <section class='station-incidents'>
    <h1>Station Incidents</h1>
    <ul class='delay-styles'>
      <li ng-repeat='incident in railView.incidents | limitTo: 5' class='styles'>
        <h4>Station: {{incident.StationName}}</h4>
        <p>Description: {{incident.LocationDescription}}</p>
        <p>Cause: {{incident.SymptomDescription}}</p>
      </li>
    </ul>
  </section>
    <button ng-click='railView.getIncidents()'>Get Info</button>
  </section>

  <section>
    <h1>Station Parking Info</h1>
  <ul class='delay-styles'>
      <li ng-repeat='parking in railView.railParking | limitTo: 5' class='styles'>
        <h3>Station Code: {{parking.Code}}</h3>
        <p>Short Term {{parking.ShortTermParking.Notes}}</p>
      </li>
  </ul>
  <button ng-click='railView.railPark()'>Get Info</button>
  </section>
  <!-- <section mapbox class='main-map'></section>
  <section id='map'></section> -->

  <section>
    <h1>Station Distances</h1>
    <form>
      <label for='start'>Start Station:</label>
      <input type='text' id='start' ng-model='railView.position' required></br>
      <label for='destination'>Destination:</label>
      <input type='text' id='destination' ng-model='railView.position' required>
    </form>
    <ul>
      <li ng-repeat='distance in railView.distances' class='styles'>
        <h3>{{distance.CompositeMiles}}</h3>
      </li>
    </ul>
    <button ng-click='railView.distance()'>Get Distance</button>
  </section>
</main>
